@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SuryadipSans";
  src: url("/fonts/YourCustomFont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-suryadip {
  font-family: "SuryadipSans", ui-sans-serif, system-ui;
}

.bg-brand-base {
  background-color: #0b0f14;
}

:root {
  --background: #000000;
  --foreground: #27d441;
}

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
}

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}        


@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #0e17be;
  }
}
/* //101828 */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes rotateBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotating-border {
  position: absolute;
  inset: 0;
  padding: 3px;
  border-radius: 1rem;
  background: linear-gradient(90deg, #06b6d4, #3b82f6, #8b5cf6);
  animation: rotateBorder 6s linear infinite;
  z-index: 0;
}

.rotating-border-inner {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background: white;
}
